<!-- Page Heading with Actions -->
<div
  class="
    text-center
    sm:text-left
    sm:flex
    sm:items-center
    sm:justify-between
    sm:border-b-2
    sm:border-gray-200
    mb-4
    lg:mb-8
  "
>
  <h2 class="text-2xl font-bold py-3">
    Produtos
    <span class="block text-lg text-gray-600 font-normal"> <%=page%> </span>
  </h2>

  <!-- Actions -->
  <div
    class="
      flex
      items-center
      justify-between
      sm:justify-end
      space-x-2
      py-3
      bg-gray-50
      rounded
      sm:bg-transparent
      px-2
      sm:px-0
    "
  >
    <button
      type="button"
      class="
        inline-flex
        justify-center
        items-center
        space-x-2
        border
        font-semibold
        focus:outline-none
        px-3
        py-2
        leading-6
        rounded
        border-transparent
        text-purple-600
        hover:text-purple-400
        focus:ring focus:ring-purple-500 focus:ring-opacity-50
        active:text-purple-600
      "
    >
      <svg
        class="hi-solid hi-x inline-block w-5 h-5 opacity-75"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
          clip-rule="evenodd"
        />
      </svg>
      <span>Cancelar</span>
    </button>
    <button
      type="button"
      class="
        inline-flex
        justify-center
        items-center
        space-x-2
        border
        font-semibold
        focus:outline-none
        px-3
        py-2
        leading-6
        rounded
        border-purple-700
        bg-purple-700
        text-white
        hover:text-white hover:bg-purple-800 hover:border-purple-800
        focus:ring focus:ring-purple-500 focus:ring-opacity-50
        active:bg-purple-700 active:border-purple-700
      "
    >
      <svg
        class="hi-solid hi-check inline-block w-5 h-5 opacity-75"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
          clip-rule="evenodd"
        />
      </svg>
      <span>Salvar</span>
    </button>
  </div>
  <!-- END Actions -->
</div>
<!-- END Page Heading with Actions -->
