<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/home.css" />
    <link rel="stylesheet" href="/public/css/main.css" />
    <title>Home</title>
  </head>
  <body>
    <header id="header">
      <div class="header-container1">
        <div class="header-profile">
          <div class="profile-avatar">
            <img src="/public/img/avatar_null.svg" alt="avatar" />
          </div>
          <div class="profile-details">
            <p>Olá, visitante</p>
            <ul>
              <li>Entrar</li>
              <li>Resgistrar</li>
            </ul>
          </div>
        </div>
        <div class="header-logo"></div>
        <div class="header-items">
          <div class="header-search"></div>
          <div class="header-mini-cart"></div>
        </div>
      </div>
      <div class="header-container2">
        <hr class="line" />
        <nav id="menu-header">
          <ul>
            <li>Item X</li>
            <li>Item X</li>
            <li>Item X</li>
            <li>Item X</li>
            <li>Item X</li>
          </ul>
        </nav>
      </div>
    </header>
  </body>
</html>
