<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>Login</title>
  </head>
  <body>
    <header id="header">
      <div class="container-header">
        <div class="profile"></div>
        <div class="logo"></div>
        <div class="search"></div>
        <div class="mini-cart"></div>
      </div>
      <div class="container-menu">
        <hr class="line" />
        <nav id="menu-header">
          <ul>
            <li>Item X</li>
            <li>Item X</li>
            <li>Item X</li>
            <li>Item X</li>
            <li>Item X</li>
          </ul>
        </nav>
      </div>
    </header>
  </body>
</html>
