.container {
  /* max-width: 1440;
  margin: auto; */
  position: relative;
  grid-column: 2/3;
  grid-template-columns: var(--grid);
}
.main-container-banner,
.main-container-banner-items {
  grid-column: 2/3;
  height: 512px;
  width: 100%;
  display: flex;
  background-color: black;
}
.main-container-banner li {
  background-color: aqua;
  width: 100%;
  position: relative;
}
.top-banner-arrows {
  width: 100%;
  top: 24.5rem;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.top-banner-next-arrow {
  width: 35px;
  height: auto;
}
.top-banner-left-arrow {
  background-color: var(--ligthColor);
  padding: 1rem;
  border-radius: 0% 35% 35% 0%;
}
.top-banner-rigth-arrow {
  background-color: var(--ligthColor);
  padding: 1rem;
  border-radius: 35% 0 0 35%;
}
.main-container-features {
  display: flex;
  grid-column: 2/3;
  background-color: blue;
}
.featured-home-title {
  grid-column: 2/3;
}
.products {
  grid-column: 2/3;
}
.btn-show-more {
  grid-column: 2/3;
}
.main-features-circles {
  grid-column: 2/3;
}
