/* LOGIN */
#back-home-icon {
  width: 2.6rem;
  border: 2px solid white;
  border-radius: 3rem;
  padding: 0.5rem;
  transition: all 0.1s ease-in-out;
}

#back-to-home-box a {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1.3rem;
  text-transform: uppercase;
  padding: 2rem;
  color: #fff;
}

#back-to-home-box:hover #back-home-icon {
  transform: scale(1.2);
  border: 2px solid white;
  font-weight: bold;
  padding: 0.3rem;
}

#login-register-container {
  background: var(--primary);
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
#page-login-img {
  background-image: url("/img/default/login-img.jpg");
  background-size: cover;
  background-position: center center;
}
#login-register-box {
  display: flex;
  min-height: 80vh;
  padding: 3rem;
}
#login-register-box > div {
  flex: 1;
}

#form-login-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-right: 13rem;
  justify-content: center;
}
#form-login-box,
#login-page-form {
  display: flex;
  flex-direction: column;
}
#form-login-box {
  min-width: 40rem;
  height: 100%;
  justify-items: center;
  margin: auto;
}
#login-page-form {
  min-width: 40rem;
  gap: 3rem;
  margin-top: 3rem;
}
.input-field {
  display: flex;
  flex-direction: column;
}
.input-field > label {
  padding-left: 1rem;
  font-size: 1.3rem;
  text-transform: uppercase;
}
.password-input-fields {
  display: flex;
  flex-direction: column;
}
#login-page-form input {
  padding: 1.6rem;
}
#login-page-form input::placeholder {
  padding: 1rem;
  margin-top: 1rem;
  text-transform: uppercase;
}
#login-page-form button {
  margin-top: 1rem;
  padding: 1.3rem;
  font-size: 2rem;
  width: 60%;
  align-self: center;
}
#login-page-form a {
  color: white;
}

#not-password-link {
  font-size: 1.2rem;
  text-transform: uppercase;
  align-self: flex-end;
  padding: 0.2rem 1rem;
}
.login-line-dark {
  border: 1px solid #fff;
  background-color: #fff;
  margin-bottom: 3rem;
}
.login-section-title-dark {
  font-size: 2.5rem;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
}
#not-register-box {
  display: flex;
  font-size: 1.5rem;
  gap: 0.5rem;
  flex-direction: column;
  text-align: center;
  padding: 4rem 0;
  width: 20rem;
  margin: 3rem auto;
}
#not-register-box a {
  color: white;
}
