<!DOCTYPE html>
<html lang="pt-BR">
  <%- include('./partials/head'); %>

  <body>
    <%- include('./partials/header'); %>
    <div id="account_page_main_container">
      <aside id="client" class="client-container">
        <div
          class="account-image-avatar-box"
          style="background-image: url(/img/avatars/01.jpg)"
        >
          <div class="account-image-change-avatar-box">
            <img
              src="/img/icons/change-pic.svg"
              class="account-image-change-avatar-icon"
              alt=""
            />
          </div>
        </div>

        <div class="account-page-menu-buttons-container">
          <button class="account-menu-button">
            <span class="btn-icon i-personal"> DADOS PESSOAIS</span>
          </button>
          <button class="account-menu-button">
            <span class="i-wallet">CARTEIRA</span>
          </button>
          <button class="account-menu-button">
            <span class="i-address">MEUS ENDEREÇOS</span>
          </button>
          <button class="account-menu-button">
            <span class="i-orders">MEUS PEDIDOS</span>
          </button>
          <button class="account-menu-button">
            <span class="i-help">AJUDA</span>
          </button>
        </div>
      </aside>

      <main class="personal-data-main-container">
        <section class="personal-data-container rel">
          <div class="account-personal-data-title-box">
            <h2>Dados Pessoais</h2>
            <hr class="account-page-line" />
          </div>
          <div class="account-data-form-col-box">
            <div class="input-data-box">
              <label for="name" class="data-label">Nome completo</label>
              <input
                type="text"
                name="name"
                id="name"
                placeholder="Ex: Alberto Soares"
                class="name-input"
              />
            </div>
            <div class="date-cpf-container">
              <div class="input-data-box half-box">
                <label class="data-label">DATA DE NASCIMENTO</label>
                <input type="date" class="cpf-date" />
              </div>
              <div class="input-data-box half-box">
                <label class="data-label">CPF</label>
                <input
                  type="text"
                  placeholder="000.000.000-00"
                  class="cpf-date"
                />
              </div>
            </div>
          </div>
          <button class="account-save-data-btn">Salvar</button>
        </section>

        <section class="account-email-data-container rel">
          <div class="account-email-data-title-box">
            <h2>ALTERAR EMAIL</h2>
            <hr class="account-page-line" />
          </div>
          <div class="account-data-form-row-box">
            <div class="input-data-box third-box">
              <h3 class="data-label">E-MAIL CADASTRADO</h3>
              <h2>NOME-CLIENTE@GMAIL.COM</h2>
            </div>
            <div class="input-data-box third-box">
              <label class="data-label">NOVO E-MAIL</label>
              <input
                type="text"
                placeholder="example@example.com"
                class="email-input"
              />
            </div>
            <div class="input-data-box third-box">
              <label class="data-label">CONFIRMAR E-MAIL</label>
              <input
                type="text"
                placeholder="example@example.com"
                class="email-input"
              />
            </div>
          </div>
          <button class="account-save-data-btn">Salvar</button>
        </section>
        <section class="account-password-data-container rel">
          <div class="account-password-data-title">
            <h2>ALTERAR SENHA</h2>
            <hr class="account-page-line" />
          </div>
          <div class="account-data-form-row-box">
            <div class="input-data-box third-box">
              <label class="data-label">SENHA ATUAL</label>
              <input
                type="text"
                placeholder="********"
                class="change-account-password-input"
              />
            </div>
            <div class="input-data-box third-box">
              <label class="data-label">NOVA SENHA</label>
              <input
                type="text"
                placeholder="********"
                class="change-account-password-input"
              />
            </div>
            <div class="input-data-box third-box">
              <label class="data-label">CONFIRMAR SENHA</label>
              <input
                type="text"
                placeholder="********"
                class="change-account-password-input"
              />
            </div>
          </div>
          <button class="account-save-data-btn">Salvar</button>
        </section>
      </main>
    </div>
    <!-- FOOTER -->
    <%- include('./partials/footer'); %>
  </body>
</html>
