<!DOCTYPE html>
<!-- HEAD -->
<%- include('../partials/head', {page: "Minha Conta"}); %>

  <body>
    <!-- HEADER -->
    <%- include('../partials/header'); %>
    <!-- MAIN CONTENT -->







    <!-- FOOTER -->
    <%- include('../partials/footer'); %>
  </body>

  </html>