<!DOCTYPE html>
<html lang="pt-BR">
  <!-- HEAD -->
  <%- include('./partials/head'); %>

  <body>
    <!-- HEADER -->
    <%- include('./partials/header'); %>
    <!-- MAIN CONTENT -->

    <section class="category-container">
      <aside class="category-menu"></aside>
      <div class="category-container-items">
        <ul class="category-list-items">
          <li class="category-item"></li>
        </ul>
      </div>
    </section>

    <!-- FOOTER -->
    <%- include('./partials/footer'); %>
  </body>
</html>
