<!DOCTYPE html>
<html lang="pt-BR">
  <!-- HEAD -->
  <%- include('./partials/head'); %>

  <body>
    <!-- HEADER -->
    <%- include('./partials/header'); %>
    <!-- MAIN CONTENT -->

    <section class="category-container">
      <aside class="category-menu">
        <p>Categoria X</p>
        <p>Categoria X</p>
        <p>Categoria X</p>
        <p>Categoria X</p>
        <p>Categoria X</p>
        <p>Categoria X</p>
        <p>Categoria X</p>
      </aside>
      <ul class="category-list-items">
        <li class="category-item">
          <button class="item-button">
            <img class="item-order-icon" src="/img/icons/orders.svg" />
          </button>
          <img class="item-photo" src="/img/products/default.jpg" />
          <div class="item-label">
            <div>
              <p class="item-title">Nome do Produto</p>
              <p class="item-sub-title">Aqui vai uma descrição do produto</p>
            </div>
            <div class="item-price-container">
              <p class="price-promo">R$ 888,99</p>
              <p class="price-normal">R$ 888,99</p>
            </div>
          </div>
        </li>
        <li class="category-item">
          <button class="item-button">
            <img class="item-order-icon" src="/img/icons/orders.svg" />
          </button>
          <img class="item-photo" src="/img/products/default.jpg" />
          <div class="item-label">
            <div>
              <p class="item-title">Nome do Produto</p>
              <p class="item-sub-title">Aqui vai uma descrição do produto</p>
            </div>
            <div class="item-price-container">
              <p class="price-promo">R$ 888,99</p>
              <p class="price-normal">R$ 888,99</p>
            </div>
          </div>
        </li>
        <li class="category-item">
          <button class="item-button">
            <img class="item-order-icon" src="/img/icons/orders.svg" />
          </button>
          <img class="item-photo" src="/img/products/default.jpg" />
          <div class="item-label">
            <div>
              <p class="item-title">Nome do Produto</p>
              <p class="item-sub-title">Aqui vai uma descrição do produto</p>
            </div>
            <div class="item-price-container">
              <p class="price-promo">R$ 888,99</p>
              <p class="price-normal">R$ 888,99</p>
            </div>
          </div>
        </li>
        <li class="category-item">
          <button class="item-button">
            <img class="item-order-icon" src="/img/icons/orders.svg" />
          </button>
          <img class="item-photo" src="/img/products/default.jpg" />
          <div class="item-label">
            <div>
              <p class="item-title">Nome do Produto</p>
              <p class="item-sub-title">Aqui vai uma descrição do produto</p>
            </div>
            <div class="item-price-container">
              <p class="price-promo">R$ 888,99</p>
              <p class="price-normal">R$ 888,99</p>
            </div>
          </div>
        </li>
        <li class="category-item">
          <button class="item-button">
            <img class="item-order-icon" src="/img/icons/orders.svg" />
          </button>
          <img class="item-photo" src="/img/products/default.jpg" />
          <div class="item-label">
            <div>
              <p class="item-title">Nome do Produto</p>
              <p class="item-sub-title">Aqui vai uma descrição do produto</p>
            </div>
            <div class="item-price-container">
              <p class="price-promo">R$ 888,99</p>
              <p class="price-normal">R$ 888,99</p>
            </div>
          </div>
        </li>
        <li class="category-item">
          <button class="item-button">
            <img class="item-order-icon" src="/img/icons/orders.svg" />
          </button>
          <img class="item-photo" src="/img/products/default.jpg" />
          <div class="item-label">
            <div>
              <p class="item-title">Nome do Produto</p>
              <p class="item-sub-title">Aqui vai uma descrição do produto</p>
            </div>
            <div class="item-price-container">
              <p class="price-promo">R$ 888,99</p>
              <p class="price-normal">R$ 888,99</p>
            </div>
          </div>
        </li>
      </ul>
    </section>

    <!-- FOOTER -->
    <%- include('./partials/footer'); %>
  </body>
</html>
