<!DOCTYPE html>
<html lang="pt-BR">
  <%- include('../partials/head'); %>

  <body class="rel">
    <!-- Header -->
    <%- include('../partials/header') %>

    <!-- FOOTER -->
    <%- include('../partials/footer') %>
  </body>
</html>
