<!DOCTYPE html>
<html lang="pt-BR">
  <%- include('../partials/head'); %>

  <body class="rel">
    <!-- Header -->
    <%- include('../partials/header') %>

    <main class="container">
      <ul class="main-container-banner rel">
        <div class="top-banner-arrows">
          <div class="top-banner-left-arrow">
            <img
              class="top-banner-next-arrow"
              src="/img/icons/next-ligth.svg"
              alt="Seta para a esquerda"
            />
          </div>
          <div class="rigth-arrow">
            <img
              class="next-arrow"
              src="/img/icons/next-ligth.svg"
              alt="Seta para a direita"
            />
          </div>
        </div>
        <li>Image 1</li>
        <li>Image 2</li>
        <li>Image 3</li>
        <li>Image 4</li>
        <li>Image 5</li>
        <li>Image 6</li>
      </ul>

      <div class="main-container-features">
        <ul class="main-container-features-images">
          <li>Image 1</li>
          <li>Image 2</li>
          <li>Image 3</li>
        </ul>
      </div>

      <div class="featured-home-title">
        <img
          src="/img/icons/award-badge.svg"
          alt="Ícone de medalha"
          class="icon-medal featured-icon"
        />
        <h2 class="title-h2">Jogos do mês</h2>
      </div>

      <div class="products">
        <ul class="products-items">
          <li class="product-container">
            <div class="product-container-img">
              <div class="btn-add-to-cart">
                <img src="" alt="" class="icon-add-to-cart" />x
              </div>
              <img src="" alt="" class="product-img" />Imagem do game
            </div>
            <div class="product-container">
              <div class="product-container-infos">
                <p class="main-name-product">Nome do Produto</p>
                <p class="main-name-product-description">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
              </div>
              <div class="product-prices">
                <p class="main-price-old">R$ 999,00</p>
                <p class="main-price-new">R$ 800,00</p>
              </div>
            </div>
          </li>
          <li class="product-container">
            <div class="product-container-img">
              <div class="btn-add-to-cart">
                <img src="" alt="" class="icon-add-to-cart" />x
              </div>
              <img src="" alt="" class="product-img" />Imagem do game
            </div>
            <div class="product-container">
              <div class="product-container-infos">
                <p class="main-name-product">Nome do Produto</p>
                <p class="main-name-product-description">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
              </div>
              <div class="product-prices">
                <p class="main-price-old">R$ 999,00</p>
                <p class="main-price-new">R$ 800,00</p>
              </div>
            </div>
          </li>
          <li class="product-container">
            <div class="product-container-img">
              <div class="btn-add-to-cart">
                <img src="" alt="" class="icon-add-to-cart" />x
              </div>
              <img src="" alt="" class="product-img" />Imagem do game
            </div>
            <div class="product-container">
              <div class="product-container-infos">
                <p class="main-name-product">Nome do Produto</p>
                <p class="main-name-product-description">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
              </div>
              <div class="product-prices">
                <p class="main-price-old">R$ 999,00</p>
                <p class="main-price-new">R$ 800,00</p>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="btn-show-more"><p>Ver todos</p></div>

      <div class="featured-home-title">
        <img
          src="/img/icons/save-money.svg"
          alt="Ícone de moedas empilhadas"
          class="icon-coins featured-icon"
        />
        <h2 class="title-h2">Promoções</h2>
      </div>

      <div class="products">
        <ul class="products-items">
          <li class="product-container">
            <div class="product-container-img">
              <div class="btn-add-to-cart">
                <img src="" alt="" class="icon-add-to-cart" />x
              </div>
              <img src="" alt="" class="product-img" />Imagem do game
            </div>
            <div class="product-container">
              <div class="product-container-infos">
                <p class="main-name-product">Nome do Produto</p>
                <p class="main-name-product-description">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
              </div>
              <div class="product-prices">
                <p class="main-price-old">R$ 999,00</p>
                <p class="main-price-new">R$ 800,00</p>
              </div>
            </div>
          </li>
          <li class="product-container">
            <div class="product-container-img">
              <div class="btn-add-to-cart">
                <img src="" alt="" class="icon-add-to-cart" />x
              </div>
              <img src="" alt="" class="product-img" />Imagem do game
            </div>
            <div class="product-container">
              <div class="product-container-infos">
                <p class="main-name-product">Nome do Produto</p>
                <p class="main-name-product-description">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
              </div>
              <div class="product-prices">
                <p class="main-price-old">R$ 999,00</p>
                <p class="main-price-new">R$ 800,00</p>
              </div>
            </div>
          </li>
          <li class="product-container">
            <div class="product-container-img">
              <div class="btn-add-to-cart">
                <img src="" alt="" class="icon-add-to-cart" />x
              </div>
              <img src="" alt="" class="product-img" />Imagem do game
            </div>
            <div class="product-container">
              <div class="product-container-infos">
                <p class="main-name-product">Nome do Produto</p>
                <p class="main-name-product-description">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
              </div>
              <div class="product-prices">
                <p class="main-price-old">R$ 999,00</p>
                <p class="main-price-new">R$ 800,00</p>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="btn-show-more"><p>Ver todos</p></div>

      <div class="featured-home-title">
        <img
          src="/img/icons/check.svg"
          alt="Ícone de check"
          class="icon-check featured-icon"
        />
        <h2 class="title-h2">Marcas</h2>
      </div>

      <ul class="main-features-circles">
        <li>A</li>
        <li>B</li>
        <li>C</li>
        <li>D</li>
        <li>E</li>
      </ul>
    </main>

    <!-- FOOTER -->
    <%- include('../partials/footer') %>
  </body>
</html>
