<!DOCTYPE html>
<!-- HEAD -->
<%- include('../partials/head'); %>


  <body>
    <!-- HEADER -->
    <%- include('../partials/header'); %>
    <!-- MAIN CONTENT -->

 <main class="main-content">
        <div class="main-content-banner">
          <ul class="main-content-banner-images">
            <li></li>
            <li>Image 1</li>
            <li>Image 2</li>
            <li>Image 3</li>
            <li>Image 4</li>
            <li>Image 5</li>
            <li>Image 6</li>
          </ul>
        </div>
        <div class="main-content-features">
          <ul class="main-content-features-images">
            <li>Image 1</li>
            <li>Image 2</li>
            <li>Image 3</li>
          </ul>
        </div>

        <div class="title">
          <img src="xxx" alt="Ícone de medalha" class="icon-medal" />
          <h2 class="title-h2">Jogos do mês</h2>
        </div>
        <div class="products-items">
          <ul>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>

        <div class="btn-show-more"><p>Ver todos</p></div>

        <div class="title">
          <img src="xxx" alt="Ícone de moedas empilhadas" class="icon-coins" />
          <h2 class="title-h2">Promoções</h2>
        </div>
      </main>

    <!-- FOOTER -->
    <%- include('../partials/footer'); %>
  </body>

  </html>