<!DOCTYPE html>
<html lang="pt-BR">
  <%- include('../partials/head'); %>

  <body class="rel">
    <!-- Header -->
    <%- include('../partials/header') %>
    <main class="container">
      <div class="main-container-banner rel">
        <div class="top-banner-arrows">
          <div class="top-banner-left-arrow">
            <img
              class="top-banner-next-arrow"
              src="/img/icons/previous-ligth.svg"
              alt="Seta para a esquerda"
            />
          </div>

          <div class="top-banner-rigth-arrow">
            <img
              class="top-banner-next-arrow"
              src="/img/icons/next-ligth.svg"
              alt="Seta para a direita"
            />
          </div>
        </div>
        <ul class="main-container-banner-items">
          <li>
            <img
              lass="main-container-banner-img"
              src="/img/default/top-banner-default.jpg"
              alt=""
            />
          </li>
        </ul>
      </div>

      <div class="main-container-features">
        <ul class="main-container-features-images">
          <li>
            <img
              class="mini-banner-home-image"
              src="/img/default/banner-default.jpg"
              alt=""
            />
          </li>
          <li>
            <img
              class="mini-banner-home-image"
              src="/img/default/banner-default.jpg"
              alt=""
            />
          </li>
          <li>
            <img
              class="mini-banner-home-image"
              src="/img/default/banner-default.jpg"
              alt=""
            />
          </li>
        </ul>
      </div>

      <div class="featured-home-title">
        <img
          src="/img/icons/award-badge.svg"
          alt="Ícone de medalha"
          class="icon-medal featured-icon"
        />
        <h2 class="title-h2">Jogos do mês</h2>
      </div>

      <div class="products container">
        <ul class="products-cards">
          
          <li class="card-product-container rel">
            <div class="card-product-img-box">
              <img
                src="/img/products/default.jpg"
                alt=""
                class="card-product-img"
              />
            </div>
            <div class="card-btn-add-to-cart">
              <img
                src="img/icons/add-cart.svg"
                alt=""
                class="icon-add-to-cart"
              />
            </div>
            <div class="card-product-title">
              <p>Nome do Produto</p>
            </div>

            <div class="card-product-details-box">
              <div class="card-product-name">Nome do Produto</div>
              <div class="card-product-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </div>

              <div class="card-product-details-prices">
                <p class="card-price-old">R$ 999,00</p>
                <p class="card-price-new">R$ 800,00</p>
              </div>
            </div>
          </li>
          <li class="card-product-container rel">
            <div class="card-product-img-box">
              <img
                src="/img/products/default.jpg"
                alt=""
                class="card-product-img"
              />
            </div>
            <div class="card-btn-add-to-cart">
              <img
                src="img/icons/add-cart.svg"
                alt=""
                class="icon-add-to-cart"
              />
            </div>
            <div class="card-product-title">
              <p>Nome do Produto</p>
            </div>

            <div class="card-product-details-box">
              <div class="card-product-name">Nome do Produto</div>
              <div class="card-product-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </div>

              <div class="card-product-details-prices">
                <p class="card-price-old">R$ 999,00</p>
                <p class="card-price-new">R$ 800,00</p>
              </div>
            </div>
          </li>
        <li class="card-product-container rel">
            <div class="card-product-img-box">
              <img
                src="/img/products/default.jpg"
                alt=""
                class="card-product-img"
              />
            </div>
            <div class="card-btn-add-to-cart">
              <img
                src="img/icons/add-cart.svg"
                alt=""
                class="icon-add-to-cart"
              />
            </div>
            <div class="card-product-title">
              <p>Nome do Produto</p>
            </div>

            <div class="card-product-details-box">
              <div class="card-product-name">Nome do Produto</div>
              <div class="card-product-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </div>

              <div class="card-product-details-prices">
                <p class="card-price-old">R$ 999,00</p>
                <p class="card-price-new">R$ 800,00</p>
              </div>
            </div>
          </li>
        <li class="card-product-container rel">
            <div class="card-product-img-box">
              <img
                src="/img/products/default.jpg"
                alt=""
                class="card-product-img"
              />
            </div>
            <div class="card-btn-add-to-cart">
              <img
                src="img/icons/add-cart.svg"
                alt=""
                class="icon-add-to-cart"
              />
            </div>
            <div class="card-product-title">
              <p>Nome do Produto</p>
            </div>

            <div class="card-product-details-box">
              <div class="card-product-name">Nome do Produto</div>
              <div class="card-product-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </div>

              <div class="card-product-details-prices">
                <p class="card-price-old">R$ 999,00</p>
                <p class="card-price-new">R$ 800,00</p>
              </div>
            </div>
          </li>
          <li class="card-product-container rel">
            <div class="card-product-img-box">
              <img
                src="/img/products/default.jpg"
                alt=""
                class="card-product-img"
              />
            </div>
            <div class="card-btn-add-to-cart">
              <img
                src="img/icons/add-cart.svg"
                alt=""
                class="icon-add-to-cart"
              />
            </div>
            <div class="card-product-title">
              <p>Nome do Produto</p>
            </div>

            <div class="card-product-details-box">
              <div class="card-product-name">Nome do Produto</div>
              <div class="card-product-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </div>

              <div class="card-product-details-prices">
                <p class="card-price-old">R$ 999,00</p>
                <p class="card-price-new">R$ 800,00</p>
              </div>
            </div>
          </li>
          <li class="card-product-container rel">
            <div class="card-product-img-box">
              <img
                src="/img/products/default.jpg"
                alt=""
                class="card-product-img"
              />
            </div>
            <div class="card-btn-add-to-cart">
              <img
                src="img/icons/add-cart.svg"
                alt=""
                class="icon-add-to-cart"
              />
            </div>
            <div class="card-product-title">
              <p>Nome do Produto</p>
            </div>

            <div class="card-product-details-box">
              <div class="card-product-name">Nome do Produto</div>
              <div class="card-product-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </div>

              <div class="card-product-details-prices">
                <p class="card-price-old">R$ 999,00</p>
                <p class="card-price-new">R$ 800,00</p>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="btn-show-more"><p>Ver todos</p></div>

      <div class="featured-home-title">
        <img
          src="/img/icons/save-money.svg"
          alt="Ícone de moedas empilhadas"
          class="icon-coins featured-icon"
        />
        <h2 class="title-h2">Promoções</h2>
      </div>

      <div class="products container">
        <ul class="products-cards">
          <li class="card-product-container rel">
            <div class="card-product-img-box">
              <img
                src="/img/products/default.jpg"
                alt=""
                class="card-product-img"
              />
            </div>
            <div class="card-btn-add-to-cart">
              <img
                src="img/icons/add-cart.svg"
                alt=""
                class="icon-add-to-cart"
              />
            </div>
            <div class="card-product-title">
              <p>Nome do Produto</p>
            </div>

            <div class="card-product-details-box">
              <div class="card-product-name">Nome do Produto</div>
              <div class="card-product-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </div>

              <div class="card-product-details-prices">
                <p class="card-price-old">R$ 999,00</p>
                <p class="card-price-new">R$ 800,00</p>
              </div>
            </div>
          </li>
          <li class="card-product-container rel">
            <div class="card-product-img-box">
              <img
                src="/img/products/default.jpg"
                alt=""
                class="card-product-img"
              />
            </div>
            <div class="card-btn-add-to-cart">
              <img
                src="img/icons/add-cart.svg"
                alt=""
                class="icon-add-to-cart"
              />
            </div>
            <div class="card-product-title">
              <p>Nome do Produto</p>
            </div>

            <div class="card-product-details-box">
              <div class="card-product-name">Nome do Produto</div>
              <div class="card-product-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </div>

              <div class="card-product-details-prices">
                <p class="card-price-old">R$ 999,00</p>
                <p class="card-price-new">R$ 800,00</p>
              </div>
            </div>
          </li>

          <li class="card-product-container rel">
            <div class="card-product-img-box">
              <img
                src="/img/products/default.jpg"
                alt=""
                class="card-product-img"
              />
            </div>
            <div class="card-btn-add-to-cart">
              <img
                src="img/icons/add-cart.svg"
                alt=""
                class="icon-add-to-cart"
              />
            </div>
            <div class="card-product-title">
              <p>Nome do Produto</p>
            </div>

            <div class="card-product-details-box">
              <div class="card-product-name">Nome do Produto</div>
              <div class="card-product-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </div>

              <div class="card-product-details-prices">
                <p class="card-price-old">R$ 999,00</p>
                <p class="card-price-new">R$ 800,00</p>
              </div>
            </div>
          </li>

          <li class="card-product-container rel">
            <div class="card-product-img-box">
              <img
                src="/img/products/default.jpg"
                alt=""
                class="card-product-img"
              />
            </div>
            <div class="card-btn-add-to-cart">
              <img
                src="img/icons/add-cart.svg"
                alt=""
                class="icon-add-to-cart"
              />
            </div>
            <div class="card-product-title">
              <p>Nome do Produto</p>
            </div>

            <div class="card-product-details-box">
              <div class="card-product-name">Nome do Produto</div>
              <div class="card-product-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </div>

              <div class="card-product-details-prices">
                <p class="card-price-old">R$ 999,00</p>
                <p class="card-price-new">R$ 800,00</p>
              </div>
            </div>
          </li>
          <li class="card-product-container rel">
            <div class="card-product-img-box">
              <img
                src="/img/products/default.jpg"
                alt=""
                class="card-product-img"
              />
            </div>
            <div class="card-btn-add-to-cart">
              <img
                src="img/icons/add-cart.svg"
                alt=""
                class="icon-add-to-cart"
              />
            </div>
            <div class="card-product-title">
              <p>Nome do Produto</p>
            </div>

            <div class="card-product-details-box">
              <div class="card-product-name">Nome do Produto</div>
              <div class="card-product-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </div>

              <div class="card-product-details-prices">
                <p class="card-price-old">R$ 999,00</p>
                <p class="card-price-new">R$ 800,00</p>
              </div>
            </div>
          </li>
          <li class="card-product-container rel">
            <div class="card-product-img-box">
              <img
                src="/img/products/default.jpg"
                alt=""
                class="card-product-img"
              />
            </div>
            <div class="card-btn-add-to-cart">
              <img
                src="img/icons/add-cart.svg"
                alt=""
                class="icon-add-to-cart"
              />
            </div>
            <div class="card-product-title">
              <p>Nome do Produto</p>
            </div>

            <div class="card-product-details-box">
              <div class="card-product-name">Nome do Produto</div>
              <div class="card-product-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </div>

              <div class="card-product-details-prices">
                <p class="card-price-old">R$ 999,00</p>
                <p class="card-price-new">R$ 800,00</p>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="btn-show-more"><p>Ver todos</p></div>

      <div class="featured-home-title">
        <img
          src="/img/icons/check.svg"
          alt="Ícone de check"
          class="icon-check featured-icon"
        />
        <h2 class="title-h2">Marcas</h2>
      </div>

      <ul class="main-features-circles">
        <li class="featured-brand">
          <img src="/img/default/brand-default.jpg" alt="" />
        </li>
        <li class="featured-brand">
          <img src="/img/default/brand-default.jpg" alt="" />
        </li>
        <li class="featured-brand">
          <img src="/img/default/brand-default.jpg" alt="" />
        </li>
        <li class="featured-brand">
          <img src="/img/default/brand-default.jpg" alt="" />
        </li>
        <li class="featured-brand">
          <img src="/img/default/brand-default.jpg" alt="" />
        </li>
        <li class="featured-brand">
          <img src="/img/default/brand-default.jpg" alt="" />
        </li>
      </ul>
    </main>

    <!-- FOOTER -->
    <%- include('../partials/footer') %>
  </body>
</html>
