<!DOCTYPE html>
<html lang="pt-BR">
</html>  <%- include('../partials/head'); %>
  <body id="login-page">
    <header id="header-login" class="back-to-home">
      <img class="login-back-icon" src="/img/icons/previous-dark.svg" />
      <a href="/home">Voltar para home</a>
    </header>

    <div id="login-container">
      <div id="login-left"></div>

      <div id="login-right">
        <div id="login-title">
          <h3>Entrar</h3>
          <hr class="login-line" />
        </div>
        <div class="login-inputs">
          <div class="login-email-input">
            <label for="email">E-mail</label>
            <input
              type="email"
              name="email"
              placeholder="usuario@dominio.com.br"
            />
          </div>
          <div class="login-password-input">
            <label for="password">Senha</label>
            <input
              type="password"
              name="password"
              placeholder="digite sua senha"
            />
            <a id="forget-password-text" href="#">Esqueceu a senha?</a>
          </div>
          <button class="login-btn dark">Entrar</button>
        </div>

        <div class="register-button-box">
          <p id="not-account-text" href="#">Não possui conta?</p>
          <button class="dark">Cadastre-se</button>
        </div>
      </div>
    </div>
    <%- include('../partials/footer-min'); %>
  </body>
</html>
