<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/css/maintenance.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Em contrução</title>
  </head>
  <body class="maintennce">
    <div class="maintenance-box">
      <div class="center">
        <h1>Ops!, Ainda estamos criando essa página! Volte mais tarde!</h1>
        <a href="/home"><button class="home-rtn-btn">voltar Para Home</button></a>
      </div>
    </div>
  </body>
</html>
