<footer class="footer-min-container">
  <a href="/">
    <img class="footer-min-logo" src="/img/logo/logo-ft.svg" />
  </a>
  <p class="footer-copy-2">Todos os direitos reservados &copy; 2021</p>
</footer>
