<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/hd-ft-test.css" />
    <link rel="stylesheet" href="/css/checkout.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;600;700;800&display=swap"
      rel="stylesheet"
    />
    <title>Finalizar Conta</title>
  </head>
  <body>
    <!-- HEADER -->
    <header id="main-header">
      <!-- TOP HEADER-->
      <div id="header-container1" class="main-container">
        <!-- LOGO-->
        <div class="header-logo">
          <a href="/">
            <img class="logo-min" src="/img/logo/logo-hd.svg" alt="" />
          </a>
        </div>
        <!-- PROFILE-->
        <div class="header-profile">
          <!-- AVATAR-->
          <div class="profile-avatar">
            <img src="/img/icons/avatar.svg" alt="avatar" />
          </div>
          <!-- DETAILS -->
          <div class="profile-details">
            <p>Olá, visitante</p>
            <ul>
              <li class="login-link-header">
                <a class="profile-links" href="/login">Entrar</a>
              </li>
              <li><a class="profile-links" href="#">Registrar</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>

    <!--  CONTEÚDO PRINCIPAL-->

    Incluir o código aqui

    <!-- FOOTER -->
    <footer class="footer-min-container">
      <a href="/">
        <img class="footer-min-logo" src="/img/logo/logo-ft.svg" />
      </a>
      <p class="footer-copy-2">Todos os direitos reservados &copy; 2021</p>
    </footer>
  </body>
</html>
