<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/main.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;600;700;800&display=swap"
      rel="stylesheet"
    />
    <title>HOMEPAGE</title>
  </head>

  <body class="rel">
    <header id="main-header">
      <!-- TOP HEADER-->
      <div id="header-container1" class="tf-container">
        <!-- PROFILE-->
        <div class="header-profile">
          <!-- AVATAR-->
          <div class="profile-avatar">
            <img src="/img/icons/avatar.svg" alt="avatar" />
          </div>
          <!-- DETAILS -->
          <div class="profile-details">
            <p>Olá, visitante</p>
            <ul>
              <li class="login-link-header">
                <a class="profile-links" href="/login">Entrar</a>
              </li>
              <li><a class="profile-links" href="#">Registrar</a></li>
            </ul>
          </div>
        </div>
        <!-- LOGO-->
        <div class="header-logo">
          <img src="/img/logo/logo-hd.svg" alt="" />
        </div>
        <div class="header-items">
          <!-- SEARCH -->
          <div class="header-search">
            <img src="/img/icons/search.svg" alt="" />
          </div>
          <!-- CART -->
          <div class="header-mini-cart rel">
            <img class="mini-cart-icon" src="/img/icons/shop-bag.svg" alt="" />
            <div class="header-mini-cart-quantity">0</div>
          </div>
        </div>
      </div>
      <!-- HEADER MENU-->
      <div id="header-container2" class="container">
        <nav class="full-menu">
          <ul class="menu menu-header">
            <li><a class="menu-item-link" href="/home">Home</a></li>
            <li><a class="menu-item-link" href="/categoria">Categoria</a></li>
            <li><a class="menu-item-link" href="/produto">Produto</a></li>
            <li>
              <a class="menu-item-link" href="/minha-conta">Minha Conta</a>
            </li>
            <li><a class="menu-item-link" href="#">ITEM X</a></li>
            <li><a class="menu-item-link" href="#">ITEM X</a></li>
            <li><a class="menu-item-link" href="#">ITEM X</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <main class="container">
      <div class="main-container-banner rel">
        <div class="top-banner-arrows">
          <div class="top-banner-left-arrow">
            <img
              class="top-banner-next-arrow"
              src="/img/icons/previous-ligth.svg"
              alt="Seta para a esquerda"
            />
          </div>

          <div class="top-banner-rigth-arrow">
            <img
              class="top-banner-next-arrow"
              src="/img/icons/next-ligth.svg"
              alt="Seta para a direita"
            />
          </div>
        </div>
        <ul class="main-container-banner-items">
          <li>imagem</li>
          <li>imagem</li>
          <li>imagem</li>
          <li>imagem</li>
          <li>imagem</li>
          <li>imagem</li>
        </ul>
      </div>

      <div class="main-container-features">
        <ul class="main-container-features-images">
          <li>Image 1</li>
          <li>Image 2</li>
          <li>Image 3</li>
        </ul>
      </div>

      <div class="featured-home-title">
        <img
          src="/img/icons/award-badge.svg"
          alt="Ícone de medalha"
          class="icon-medal featured-icon"
        />
        <h2 class="title-h2">Jogos do mês</h2>
      </div>

      <div class="products">
        <ul class="products-items">
          <li class="product-container">
            <div class="product-container-img">
              <div class="btn-add-to-cart">
                <img src="" alt="" class="icon-add-to-cart" />x
              </div>
              <img src="" alt="" class="product-img" />Imagem do game
            </div>
            <div class="product-container">
              <div class="product-container-infos">
                <p class="main-name-product">Nome do Produto</p>
                <p class="main-name-product-description">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
              </div>
              <div class="product-prices">
                <p class="main-price-old">R$ 999,00</p>
                <p class="main-price-new">R$ 800,00</p>
              </div>
            </div>
          </li>
          <li class="product-container">
            <div class="product-container-img">
              <div class="btn-add-to-cart">
                <img src="" alt="" class="icon-add-to-cart" />x
              </div>
              <img src="" alt="" class="product-img" />Imagem do game
            </div>
            <div class="product-container">
              <div class="product-container-infos">
                <p class="main-name-product">Nome do Produto</p>
                <p class="main-name-product-description">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
              </div>
              <div class="product-prices">
                <p class="main-price-old">R$ 999,00</p>
                <p class="main-price-new">R$ 800,00</p>
              </div>
            </div>
          </li>
          <li class="product-container">
            <div class="product-container-img">
              <div class="btn-add-to-cart">
                <img src="" alt="" class="icon-add-to-cart" />x
              </div>
              <img src="" alt="" class="product-img" />Imagem do game
            </div>
            <div class="product-container">
              <div class="product-container-infos">
                <p class="main-name-product">Nome do Produto</p>
                <p class="main-name-product-description">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
              </div>
              <div class="product-prices">
                <p class="main-price-old">R$ 999,00</p>
                <p class="main-price-new">R$ 800,00</p>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="btn-show-more"><p>Ver todos</p></div>

      <div class="featured-home-title">
        <img
          src="/img/icons/save-money.svg"
          alt="Ícone de moedas empilhadas"
          class="icon-coins featured-icon"
        />
        <h2 class="title-h2">Promoções</h2>
      </div>

      <div class="products">
        <ul class="products-items">
          <li class="product-container">
            <div class="product-container-img">
              <div class="btn-add-to-cart">
                <img src="" alt="" class="icon-add-to-cart" />x
              </div>
              <img src="" alt="" class="product-img" />Imagem do game
            </div>
            <div class="product-container">
              <div class="product-container-infos">
                <p class="main-name-product">Nome do Produto</p>
                <p class="main-name-product-description">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
              </div>
              <div class="product-prices">
                <p class="main-price-old">R$ 999,00</p>
                <p class="main-price-new">R$ 800,00</p>
              </div>
            </div>
          </li>
          <li class="product-container">
            <div class="product-container-img">
              <div class="btn-add-to-cart">
                <img src="" alt="" class="icon-add-to-cart" />x
              </div>
              <img src="" alt="" class="product-img" />Imagem do game
            </div>
            <div class="product-container">
              <div class="product-container-infos">
                <p class="main-name-product">Nome do Produto</p>
                <p class="main-name-product-description">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
              </div>
              <div class="product-prices">
                <p class="main-price-old">R$ 999,00</p>
                <p class="main-price-new">R$ 800,00</p>
              </div>
            </div>
          </li>
          <li class="product-container">
            <div class="product-container-img">
              <div class="btn-add-to-cart">
                <img src="" alt="" class="icon-add-to-cart" />x
              </div>
              <img src="" alt="" class="product-img" />Imagem do game
            </div>
            <div class="product-container">
              <div class="product-container-infos">
                <p class="main-name-product">Nome do Produto</p>
                <p class="main-name-product-description">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
              </div>
              <div class="product-prices">
                <p class="main-price-old">R$ 999,00</p>
                <p class="main-price-new">R$ 800,00</p>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="btn-show-more"><p>Ver todos</p></div>

      <div class="featured-home-title">
        <img
          src="/img/icons/check.svg"
          alt="Ícone de check"
          class="icon-check featured-icon"
        />
        <h2 class="title-h2">Marcas</h2>
      </div>

      <ul class="main-features-circles">
        <li>A</li>
        <li>B</li>
        <li>C</li>
        <li>D</li>
        <li>E</li>
      </ul>
    </main>

    <!-- FOOTER -->
    <%- include('../partials/footer') %>
  </body>
</html>
