<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/global.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;600;700;800&display=swap"
      rel="stylesheet"
    />
    <title>Login</title>
  </head>
  <body id="login-page">
    <header id="header-login" class="back-to-home">
      <img class="login-back-icon" src="/img/icons/previous-dark.svg" />
      <a href="/home">Voltar para home</a>
    </header>

    <div id="login-container">
      <div id="login-left"></div>

      <div id="login-right">
        <div id="login-title">
          <h3>Entrar</h3>
          <hr class="login-line" />
        </div>
        <div class="login-inputs">
          <div class="login-email-input">
            <label for="email">E-mail</label>
            <input
              type="email"
              name="email"
              placeholder="usuario@dominio.com.br"
            />
          </div>
          <div class="login-password-input">
            <label for="password">Senha</label>
            <input
              type="password"
              name="password"
              placeholder="digite sua senha"
            />
            <a id="forget-password-text" href="#">Esqueceu a senha?</a>
          </div>
          <button class="login-btn dark">Entrar</button>
        </div>

        <div class="register-button-box">
          <p id="not-account-text" href="#">Não possui conta?</p>
          <button class="dark">Cadastre-se</button>
        </div>
      </div>
    </div>
    <footer class="footer-container">
      <img class="footer-logo-2" src="/img/logo/logo-ft.svg" />
      <p class="footer-copy-2">Todos os direitos reservados &copy; 2021</p>
    </footer>
  </body>
</html>
