<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>Login</title>
  </head>
  <body>
    <header class="back-to-home"><img src="" />Voltar para home</header>
    <div class="login-container">
      <div class="login-left">
        <img src="/img/avatar_null.svg" , alt="imagem" />
      </div>
      <div class="login-right">
        <h3>Entrar</h3>
        <hr class="line" />
        <div class="login-inputs">
          <input type="email" placeholder="E-mail" />
          <input type="password" placeholder="Senha" />
          <a href="#">Esqueceu a senha?</a>
        </div>
        <div class="login-bottons">
          <button>Entrar</button>
          <a href="#">Não possui conta?</a>
          <button>Cadastre-se</button>
        </div>
      </div>
    </div>
    <footer class="footer-container">
      <div class="footer-container-logo"><img src="" /></div>
      <div class="footer-container-copy">Todos os direitos reservados</div>
    </footer>
  </body>
</html>
