/* MINHA CONTA */
#account-page-main-container {
  display: flex;
  min-height: 98vh;
}
.personal_data_main_container {
  background-color: #ccc5d4;
  padding: 3rem 6rem;
  width: 80%;
}

.client-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  padding-top: 5rem;
  gap: 3rem;
}
.account-page-buttons-container {
  display: flex;
  flex-direction: column;
}
.client-photo {
  width: 80px;
  align-self: center;
}
.client-container .button {
  font-size: 12px;
  margin: 5px 0;
  width: 200px;
}
/* .dados_pessoais{
  padding: 5px;
}

.name_input{
  display: flex;
  padding: 5px;
  width: 80%;
  margin: 2px;
}

.date_cpf {
  display: flex;
  width: 80%;
  margin: 2px;
}

.cpf_date {
  width: 90%;
  margin: 2px;
} */

.data_label {
  color: var(--primary);
  font-size: var(--input-label-size);
  text-transform: uppercase;
  padding: 0.5rem 0 0.2rem 1rem;
  font-weight: bold;
}
.email_infos {
  width: 100%;
}
.email_data {
  display: flex;
  margin: 5px;
  width: 80%;
}

.email_input {
  width: 90%;
  margin: 2px;
}

.change_account_password_form {
  display: flex;
  padding: 5px;
  width: 80%;
}

.change_account_password_input {
  width: 100%;
  padding: 10px;
}

/**/

.dados_pessoais {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
}


.personal_data_main_container h2 {
  font-size: 2rem;
  color: var(--primary);
  text-transform: uppercase;
}
.account-page-line {
  background-color: var(--primary);
  border: 0.1rem solid var(--primary);
}
.account-personal-data-form-box {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  gap: 2rem;
}
.account-personal-data-name,
.account-personal-birth,
.account-personal-data-cpf {
  display: flex;
  flex-direction: column;
}
.data-label {
  font-size: 1.2rem;
  color: var(--primary);
  text-transform: uppercase;
  padding-left: 1rem;
  font-weight: bold;
}
.date-cpf {
  display: flex;
  column-gap: 2rem;
}
.account-personal-birth {
  width: 50%;
}
.account-personal-data-cpf {
  width: 50%;
}
