/* FINALIZAR COMPRA */
#checkout_page_main_container {
  display: flex;
  column-gap: 1.1rem;
  padding: 1.7rem 0;
  min-height: 70vh;
}
.checkout-page-container {
  background-color: var(--primaryLight);
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 50%;
  flex-grow: 1;
  flex-shrink: 1;
}

.checkout-page-billing-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;  
}

.checkout-title-box {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-bottom: 0.5rem;
}
.checkout-billing-name-box {
  display: flex;
  flex-direction: column;
}

.checkout-billing-birthday-cpf-container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.5rem;
}
.checkout-address-line-1-box {
  display: grid;
  grid-template-columns: 1.5fr 2fr 0.5fr;
  column-gap: 1.5rem;
  width: 100%;
}
.zip-input-box {
  display: grid;
  align-items: center;
  grid-template-columns: 5.8fr 0.2fr 3fr;
  column-gap: 1.5rem;
}
.zip-input-box > p {
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary);
}

.checkout-address-line-2-box {
  display: grid;
  grid-template-columns: 2fr 0.5fr 1.5fr;
  column-gap: 1.5rem;
  width: 100%;
}
.checkout-payment-method-selectors-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  column-gap: 1.5rem;
  width: 100%;
  padding: 1.5rem 0rem;
}
.checkout-box-line {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.checkout-input {
  width: 100%;
}

.checkout-label {
  color: var(--primary);
  font-size: var(--input-label-size);
  text-transform: uppercase;
  padding: 0.5rem 0 0.2rem 1rem;
  font-weight: bold;
}

.checkout-radio-label {
  color: var(--primary);
  font-size: 1.3rem;
  text-transform: uppercase;
  padding: 0.5rem 0 0.2rem 1rem;
  font-weight: bold;
}
.label-radio {
  display: flex;
  flex-direction: row;
}

.test-h1 {
  font-size: 1.6rem;
}
