/*MANUTENÇÃO*/
* {
  border: 0;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  width: 35%;
  min-height: 98vh;
  padding: 1rem;
  color: white;
  font-family: "Roboto", sans serif;
}

.home-rtn-btn {
  padding: 2rem 4rem;
  border-radius: 3rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  cursor: pointer;
}
.maintenance-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  background-image: url(https://source.unsplash.com/random/);
  background-position: center;
  background-size: cover;
}
.maintenance-box h1 {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 4rem;
  line-height: 1;
  width: 90%;
  margin-bottom: 2rem;
}
.maintenance-box button {
  background-color: #280e4d;
  color: #fff;
}
.maintenance-box button:hover {
  background-color: white;
  color: #280e4d;
}

/* FIM MANUTENÇÃO*/
