@media screen and (min-width: 320px) {
  .mini-cart-icon {
    width: 3rem;
  }
  #main-header {
    padding: 2rem 3rem 0rem 3rem;
  }
  .main-logo {
    height: unset;
    width: 12rem;
  }
  .profile-avatar {
    width: 5rem;
  }
  .header-mini-cart-quantity {
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  /* 
    HEADER RESPONSIVO = TELAS MAIORES QUE 768
  */
  #main-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 20rem;
    background-color: var(--primary);
    padding: 2rem 3rem 0rem 3rem;
    gap: 1.2rem;
  }
  #header-container1 {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0.2rem 1rem;
  }
  .header-profile {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: calc(100% / 3);
  }
  .profile-details {
    display: flex;
    flex-direction: column;
    color: var(--ligthColor);
  }
  .profile-details > p {
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: bold;
  }

  .profile-details > ul {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    text-transform: capitalize;
  }
  .profile-links {
    color: var(--ligthColor);
  }
  .login-link-header::after {
    content: "|";
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0 0.5rem;
  }
  .profile-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    background-color: var(--color1);
    border-radius: 100%;
    border: 0.5rem solid var(--color1);
  }
  .profile-avatar > img {
    width: 6rem;
    margin: auto;
    object-fit: cover;
  }
  .header-logo {
    display: flex;
    width: calc(100% / 3);
    object-fit: cover;
    justify-content: center;
  }
  .main-logo {
    width: 20rem;
  }

  .header-items {
    display: flex;
    gap: 2rem;
    padding: 0 2rem;
    width: calc(100% / 3);
    justify-content: flex-end;
  }
  .header-search {
    display: flex;
    width: 4rem;
    cursor: pointer;
  }
  .header-mini-cart {
    cursor: pointer;
    position: relative;
  }
  .mini-cart-icon {
    width: 5rem;
  }
  .header-mini-cart-quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--acent);
    color: white;
    font-weight: bold;
    border-radius: 3rem;
    font-size: 1.5rem;
    height: 2.5rem;
    width: 2.5rem;
    position: absolute;
    left: 3.5rem;
    bottom: -1.5rem;
  }
  #header-container2 {
    display: flex;
    flex-direction: column;
  }
  .header-mobile-btn {
    display: none;
  }
  .menu-header {
    border-top: 2px solid var(--ligthColor);
  }
  .menu {
    justify-content: space-around;
    flex-direction: unset;
    gap: 1rem;
  }

  /* FOOTER */
  #footer-container1 {
    display: inline-block;
  }
}
