<footer id="footer-2">
  <div id="footer2-logo-box">
    <img id="ft2-logo" src="/img/logo/logo-ft.svg" alt="" />
  </div>
  <div id="footer2-copyrigth-box">Todos os direitos reservados &copy; 2021</div>
</footer>
