<!-- FOOTER -->
<footer id="main-footer">
  <div id="footer-container1">
    <nav>
      <ul class="menu">
        <li><a class="menu-item-link" href="/home">Home</a></li>
        <li><a class="menu-item-link" href="/categoria">Categoria</a></li>
        <li><a class="menu-item-link" href="/produto">Produto</a></li>
        <li><a class="menu-item-link" href="/minha-conta">Minha Conta</a></li>
        <li><a class="menu-item-link" href="#">ITEM X</a></li>
        <li><a class="menu-item-link" href="#">ITEM X</a></li>
        <li><a class="menu-item-link" href="#">ITEM X</a></li>
      </ul>
    </nav>
  </div>
  <div id="footer-container2" class="main-container">
    <div id="footer-contact">
      <h3>Precisa de Ajuda?</h3>
      <hr />
      <ul>
        <li class="ft-contact-item">
          <img class="ft-contact-icon" src="/img/icons/phone.svg" />
          0800 000 000
        </li>
        <li class="ft-contact-item">
          <img class="ft-contact-icon" src="/img/icons/mail.svg" />
          contato@seusite.com.br
        </li>
        <li class="ft-contact-item">
          <img class="ft-contact-icon" src="/img/icons/clock.svg" />
          <p class="ft-attendance">
            Segunda a Sexta 08:00 as 18:00 Exceto feriados
          </p>
        </li>
      </ul>
    </div>
    <div id="copyright-center">
      <a href="/">
        <img class="ft-logo" src="/img/logo/logo-ft.svg" alt="" />
      </a>
      <p class="copyright">Todos os direitos reservados &copy; 2021</p>
    </div>
    <div id="ft-social">
      <ul class="footer-social">
        <li class="ft-social-item">
          <img src="/img/icons/facebook.svg" alt="" class="ft-social-icon" />
        </li>
        <li class="ft-social-item">
          <img src="/img/icons/twitter.svg" alt="" class="ft-social-icon" />
        </li>
        <li class="ft-social-item">
          <img src="/img/icons/instagram.svg" alt="" class="ft-social-icon" />
        </li>
      </ul>
    </div>
  </div>
</footer>
