<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="/css/header.css" />
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
        href="https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;600;700;800&display=swap"
        rel="stylesheet"
      />
      <title>HEADER</title>
    </head>

    <header id="main-header">
      <!-- TOP HEADER-->
      <div id="header-container1" class="main-container">
        <!-- PROFILE-->
        <div class="header-profile">
          <!-- AVATAR-->
          <div class="profile-avatar">
            <img src="/img/icons/avatar.svg" alt="avatar" />
          </div>
          <!-- DETAILS -->
          <div class="profile-details">
            <p>Olá, visitante</p>
            <ul>
              <li class="login-link-header">
                <a class="profile-links" href="/login">Entrar</a>
              </li>
              <li><a class="profile-links" href="#">Registrar</a></li>
            </ul>
          </div>
        </div>
        <!-- LOGO-->
        <div class="header-logo">
          <a href="/">
            <img class="main-logo" src="/img/logo/logo-hd.svg" alt="" />
          </a>
        </div>
        <div class="header-items">
          <!-- SEARCH -->
          <div class="header-search">
            <img src="/img/icons/search.svg" alt="" />
          </div>
          <!-- CART -->
          <div class="header-mini-cart rel">
            <img class="mini-cart-icon" src="/img/icons/shop-bag.svg" alt="" />
            <div class="header-mini-cart-quantity">0</div>
          </div>
        </div>
      </div>
      <!-- HEADER MENU-->
      <div id="header-container2" class="menu-container">
        <nav class="full-menu">
          <ul class="menu menu-header">
            <li><a class="menu-item-link" href="/home">Home</a></li>
            <li>
              <a class="menu-item-link" href="/produto/categoria">Categoria</a>
            </li>
            <li><a class="menu-item-link" href="/produto">Produto</a></li>
            <li>
              <a class="menu-item-link" href="/minha-conta">Minha Conta</a>
            </li>
            <li><a class="menu-item-link" href="/checkout">Checkout</a></li>
            <li><a class="menu-item-link" href="#">ITEM X</a></li>
            <li><a class="menu-item-link" href="#">ITEM X</a></li>
          </ul>
        </nav>
      </div>
    </header>
  </body>
</html>
